.add-book {
	box-sizing: content-box;

	height: 3.5rem;
	overflow: hidden;
	white-space: nowrap;

	color: white;
	font-family: Glegoo, serif;
	font-weight: bold;
	font-size: 3rem;

	border: none;
	background: none;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	padding-bottom: 0.5rem;
	margin-bottom: 30px;
}

.add-book:hover {
	border-bottom: 0.2rem dashed var(--light-color);
	padding-bottom: 0.3rem;
}

.add-book span {
	font-family: 'Material Icons';
	margin-right: 10px;
}
