#page-home {
	min-height: 100vh;
	min-width: 100%;
	background-color: var(--background-color);

	box-sizing: border-box;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: 'Glegoo', serif;
	font-size: 1.6rem;
	color: var(--background-color);

	position: relative;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 80%;

	padding: 80px 0;
}

.add-book {
	box-sizing: content-box;

	height: 3.5rem;
	overflow: hidden;
	white-space: nowrap;

	color: white;
	font-family: Glegoo, serif;
	font-weight: bold;
	font-size: 3rem;

	border: none;
	background: none;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	padding-bottom: 0.5rem;
	margin-bottom: 30px;
}

.add-book:hover {
	border-bottom: 0.2rem dashed var(--light-color);
	padding-bottom: 0.3rem;
}

.add-book span {
	font-family: 'Material Icons';
	margin-right: 10px;
}

.cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media (max-width: 700px) {
	main {
		width: 100%;
		padding: 40px 0 80px;
	}
}
