.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	width: 300px;
	height: 200px;
	margin: 20px;

	background-color: var(--light-color);
	border-radius: 4px;
	box-shadow: 0 0 20px 2px #000000c5;

	position: relative;
}

.card h2 {
	margin: 15px 10px 10px;

	font-family: 'Cinzel', serif;
	font-size: 2.4rem;
	font-weight: 400;
	color: var(--background-color);
}

.card h3 {
	color: var(--background-color);
}

.card h4 {
	position: absolute;

	bottom: 15px;
}

.card .checkbox {
	position: absolute;
	bottom: 8px;
	right: 15px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.card .checkbox label {
	font-size: 14px;
	margin-bottom: 5px;
}

.card button {
	font-family: 'Material Icons';
	font-size: 24px;
	color: var(--background-color);
	opacity: 40%;

	position: absolute;
	bottom: 14px;
	left: 15px;

	border: none;
	background: none;
	cursor: pointer;
}

.card button:hover {
	color: rgb(153, 33, 33);
	opacity: 100%;
}

.card a:active {
	color: var(--background-color);
}
