.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;

	width: 300px;
	height: 200px;
	margin: 20px;

	background-color: var(--light-color);
	border-radius: 4px;
	box-shadow: 0 0 20px 2px #000000c5;
}

.card .card-header h2 {
	margin: 15px 10px 10px;

	font-family: 'Cinzel', serif;
	font-size: 2.4rem;
	font-weight: 400;
	color: var(--background-color);
}

.card .card-header h3 {
	color: var(--background-color);
}

.card .card-footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;

	width: 100%;
	padding: 0 10px 8px 8px;
}

.card .card-footer .buttons {
	display: flex;
	text-align: start;
}

.card .card-footer .buttons button {
	font-family: 'Material Icons';
	font-size: 24px;
	color: var(--background-color);
	opacity: 40%;

	border: none;
	background: none;
	cursor: pointer;
}

.card .card-footer .buttons button + button {
	margin-left: 8px;
}

.card .card-footer .buttons button:hover {
	color: rgb(153, 33, 33);
	opacity: 100%;
}

.card .card-footer .buttons button:active {
	color: var(--background-color);
}

.card .card-footer h4 {
	color: var(--background-color);
}

.card .card-footer .checkbox-container {
	display: flex;
	justify-content: flex-end;
}

.card .card-footer .checkbox {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card .checkbox label {
	font-size: 14px;
	margin-bottom: 5px;
}
