#modal {
	background-color: #000000df;

	height: 100vh;
	width: 100vw;

	position: fixed;
	top: 0;
	z-index: 2;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: 600ms;
}

#modal.hide {
	display: none;
}

#modal .content {
	color: white;
	background-color: #222831df;
	padding: 20px;
	border-radius: 8px;

	width: 420px;
}

#modal .header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 48px;
}

#modal .header h1 {
	color: white;

	font-size: 26px;
	font-weight: bold;
	line-height: 30px;
}

#modal .header button#btn-modal-close {
	background-image: url('../../assets/images/x.svg');

	width: 20px;
	height: 20px;

	transform: scale(1.2);
	opacity: 0.6;

	display: flex;

	font-size: 0.01px;
}

#modal .header button#btn-modal-close:hover {
	opacity: 1;

	transition: opacity 300ms;
}

.body {
	display: flex;
	flex-direction: column;

	font-size: 18px;
}

.body label {
	margin-bottom: 8px;
}

.body input {
	margin-bottom: 20px;

	font-family: Calibri;
	font-size: 18px;

	padding: 2px 8px;
}

.body input.required:invalid {
	border: 2px solid rgb(243, 96, 96);
}

.body .lower {
	display: grid;
	grid-template-areas:
		'lbPages lbRead'
		'inPages inRead';
	justify-content: space-between;
	align-items: center;
}

.body .lower .label-pages {
	grid-area: lbPages;
}
.body .lower .input-pages {
	grid-area: inPages;
}
.body .lower .label-read {
	grid-area: lbRead;
}
.body .lower .input-read {
	grid-area: inRead;
	transform: scale(1.5);
	margin-left: 53px;
}

.body button#btn-modal-add {
	display: block;
	width: 100%;
	text-align: center;

	margin-top: 20px;
	padding: 8px;
	border: 2px solid white;
	border-radius: 8px;

	font: inherit;
	font-weight: bold;

	color: white;
}

.body button#btn-modal-add:hover {
	border-color: #fbc687;
	color: #fbc687;

	transition: 300ms;
}
